@font-face {
    font-family: "Light";
    src: url("../Font/Brown-Light.ttf") format('truetype');
}


@font-face {
    font-family: "Regular";
    src: url("../Font/Brown-Regular.ttf") format('truetype');
}


@font-face {
    font-family: "Bold";
    src: url("../Font/Brown-Bold.ttf") format('truetype');
}

body
{
    padding: 0px;
    margin: 0px;
    font-family: Light;
}

.Container
{
    padding: 0px;
    margin: 0px;
    height: 400px;
    width: 500px;
    background-color: #ffb341;
}

.Left
{
    padding: 15px;
    margin: 0px;
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: -5px 0px 20px 20px lightgrey;
    z-index: 1000;
}

.Right
{
    margin: 0px;
    height: 100%;
    width: calc(100% - 150px);
    position: absolute;
    left: 150px;
    top: 0px;
    background-color: white;
    text-align: right;
    padding: 5px 15px 15px 15px;
    box-sizing: border-box;
}

.Logo
{
    width: 100%;
}

.Title
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 200px;
    width: 150px;
    background-color: white;
    font-family: Bold;
    font-size: 16pt;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    line-height: 16pt;
    z-index: 2000;
}

.Subtitle
{
    font-family: Bold;
    font-size: 25pt;
    background: linear-gradient(90deg, rgba(255,147,151,1) 0%, rgba(255,179,65,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px;
    margin: 0px;
}

.Text
{
    font-family: Regular;
    font-size: 11pt;
    padding: 0px;
    margin: 0px 0px 30px 0px;
    color: rgb(102, 98, 99);
}

.Button{
    width: 100%;
    height: 30px;
    font-family: Regular;
    font-size: 11pt;
    background-color: white;
}